
.SignUpHeader
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #248bf5;
}
.Submit
{
    width: 10vw;
    height: 3vh;
    margin-top: 5px;
    border: #248bf5 1px solid;
    border-radius: 5px;
    background-color: transparent;
    color: #248bf5 ;
    font-family: Arial, Helvetica, sans-serif;
    transition:background-color 0.3s ease-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.Submit:hover
{
    color: white;
    cursor: pointer;
    background-color: #248bf5;
}

.UserData{
    border: none;
    border-bottom:  #248bf5 1px solid;
    align-self:flex-start ;
    outline: none;
    width: 100%;
   
    padding: 5px;
    margin-bottom: 10px;
}
.UserData:hover, .UserData:focus{
    border-bottom: #248bf5 3px solid;
    caret-color: #248df5b0;
}
.UserData::placeholder{
    color: #ffff;
}

.signUpForm
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 20vw;
}
