.SuContainer{
    height: 100%;
    margin-top: 4%;
    background-color: transparent;
   
}
.SignUpHeader
{
    
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    transform: translateX(40%);
    
}
.Submit
{
    transform: translateX(40%);
    border: none;
    width: 10vw;
    height: 3vh;
    margin-top: 5px;
    background-color: #ffffff;
    color: rgb(155, 75, 229) ;
    font-family: Arial, Helvetica, sans-serif;
    transition:background-color 0.3s ease-out;
}
.Submit:hover
{
    color: white;
    cursor: pointer;
    background-color:rgb(155, 75, 229) ;
}

.signUpForm input{
    border-radius: 5px;
    align-self:flex-start ;
    outline: none;
    width: 180%;
    border: 0;
    margin: 0.01%;
    padding: 5px;
}
.signUpForm input:focus{
    color: rgb(155, 75, 229)  ;
    caret-color:rgb(155, 75, 229) ;
}
.signUpForm label{
    align-self: flex-start;
}
.signUpForm
{
    padding: 0vw 35vw;
    display: flex;
    transform: translateX(7.5%);
    width:10%;
    flex-direction: column;
    background:transparent;
    background-size: contain;
    align-items: center;
    justify-content: flex-start;
}
