
.SignUpHeader
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.Submit
{
    border: none;
    width: 10vw;
    height: 3vh;
    margin-top: 5px;
    background-color: #ffffff;
    color: rgb(155, 75, 229) ;
    font-family: Arial, Helvetica, sans-serif;
    transition:background-color 0.3s ease-out;
    
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.Submit:hover
{
    color: white;
    cursor: pointer;
    background-color:rgb(155, 75, 229) ;
}

.signUpForm input{
    border-radius: 5px;
    align-self:flex-start ;
    outline: none;
    width: 100%;
    border: 0;
    padding: 5px;
    margin-bottom: 10px;
}
.signUpForm input:focus{
    color: rgb(155, 75, 229)  ;
    caret-color:rgb(155, 75, 229) ;
}
.signUpForm
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    width: 20vw;
}
