.convoSection{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 70%;
    background-color: white;
    border-left: 5px solid rgb(133, 133, 133);
}

.convoHeader {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 26px 26px -26px #000000;
    align-items: center;
    transition: height 300ms ease;
    z-index: 1;
}

.headerEnlarged {
    height: 200px;
}

.convoPicture{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 300ms ease;
}

.picEnlarged {
    transform: scale(2.5) translate(20%, 0%);
}

.convoHeader span {
    font-size: 3vw;
    font-weight: bold;
    transition: transform 300ms ease;
}

.profileTitle {
    transform: translate(40%, -130%);
}

.convoName{
    margin-left: 20px;
}

.convoHeaderBtns{
    position: absolute;
    display: flex;
    right: 0%;
    margin-right: 30px;
    width: 100px;
    color: blue;
    justify-content: space-around;
}

.convoHeaderBtns span{
    cursor: pointer;
}

.groupControlBtns {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    display: flex;
    left: 45%;
    top: 55%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: space-around;
    justify-content: space-around;
    height: 70px;
    transition: all 300ms ease-in-out;
}

.groupControlBtns button {
    outline: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 20px;
    border-radius: 10px;
    transition: all 200ms;
}

.groupInfo {
    border: 2px solid #248bf5;
}

.groupInfo:hover{
    background-color: #248bf5;
    color: white;
}

.leaveGroup {
    border: 2px solid red;
}

.leaveGroup:hover {
    background-color: red;
    color: white;
}

.gBtnsEnabled{
    opacity: 1;
    pointer-events: all;
}

.bubblesWrapper{
    width: 100%;
    height: 100%;
}

.convoFooter {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0%;
    width: 100%;
    background-color: rgb(225, 225, 225);
    height: 60px;
    font-size: 30px;
    opacity: 0.8;
    transition: opacity 300ms ease;
}

.convoFooter:focus-within, .convoFooter:hover{
    opacity: 1;
}

.msgInput{
    width: 70%;
    height: 50px;
    border: none;
    outline: none;
    padding: 20px;
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
    font-size: 20px;
    transition: all 200ms;
}

.msgInput:hover, .msgInput:focus{
    border: 2px blue solid;
}

#shareFileBtn{
    margin-left: 30px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

#sendVCBtn,
#sendMsgBtn{
    margin-right: 30px;
    transition: all 200ms ease-in-out;
}

#sendVCBtn:hover,
#sendMsgBtn:hover {
    cursor: pointer;
}

.noConvoSelected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.noConvoSelected img {
    max-width: 50%;
}

.noConvoSelected h1 {
    margin: 10px;
}

.sendVCCtrls {
    position: absolute;
    transition: all 250ms;
    display: flex;
    right: 50px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
}

.sendVCCtrls span {
    cursor: pointer;
    transition: 200ms;
}

.sendVCCtrls span:hover {
    transform: scale(1.1);
}