.convoSection{
    position: absolute;
    right: 0%;
    height: 100%;
    width: 70%;
    background-color: white;
    border-left: 5px solid rgb(133, 133, 133);
}

.convoHeader {
    position: relative;
    display: flex;
    width: 100%;
    height: 70px;
    overflow: hidden;
    background-color: rgb(225, 225, 225);
    box-shadow: 0px 26px 26px -26px #000000;
    align-items: center;
    transition: height 300ms ease;
    z-index: 1;
}

.headerEnlarged {
    height: 200px;
}

.convoPicture{
    margin-left: 30px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 300ms ease;
}

.picEnlarged {
    transform: scale(2.5) translate(20%, 10%);
}

.convoHeader span {
    font-size: 30px;
    font-weight: bold;
    transition: transform 300ms ease;
    
}


.profileTitle {
    transform: translate(40%, -40%);
}

.convoName{
    margin-left: 20px;
}

.convoHeaderBtns{
    position: absolute;
    display: flex;
    right: 0%;
    margin-right: 30px;
    width: 100px;
    color: blue;
    justify-content: space-between;
}

.convoHeaderBtns span{
    cursor: pointer;
}

.bubblesWrapper{
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
}

.convoFooter {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0%;
    width: 100%;
    background-color: rgb(225, 225, 225);
    height: 60px;
    font-size: 30px;
    opacity: 0.8;
    transition: opacity 300ms ease;
}

.convoFooter:focus-within, .convoFooter:hover{
    opacity: 1;
}

.msgInput{
    width: 70%;
    height: 50px;
    border: none;
    outline: none;
    padding: 20px;
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
    font-size: 20px;
    transition: all 200ms;
}

.msgInput:hover, .msgInput:focus{
    border: 2px blue solid;
}

#shareFileBtn{
    margin-left: 30px;
}

#sendVCBtn,
#sendMsgBtn{
    margin-right: 30px;
}

.noConvoSelected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.noConvoSelected img {
    max-width: 50%;
}

.noConvoSelected h1 {
    margin: 10px;
}