.loginInput {
  color: #248bf5;
  outline: none;
  width: 100%;
  border:none;
  border-bottom: #248bf5 1px solid;
  padding: 5px;
  background-color: transparent;
  
  margin-bottom: 10px;
}
.loginInput:focus, .loginInput:hover{
  border-bottom: #248bf5 3px solid;
  color: #248bf5;
  caret-color: #248df5b0;
}

.loginInput::placeholder{
  color: #248bf5;
  opacity: 70%;
}
label{
  color: #248bf5;
  align-self: flex-start;
}

.Li-Container
{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Li-button {
  position: relative;
  background-color: transparent;
  color: #248bf5;
  margin-top: 4px;
  height: 30px;
  border: #248bf5 1px solid;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100px;
  transition:all 0.2s ease;
}

.Li-button:hover {
  background-color: #248bf5 ;
  color: white;
}

label.psw {
  margin-top: 16px;
}

.SignUp
{
  color:#248bf5;
}
.SignUp:hover
{
  cursor: pointer;
}


.errMsg{
  color: red;
  text-align: center;
}
.Login-Logo{
  height: 50%;
  width: 50%;
  
}