.Email input,
.Password input {
  margin-bottom: 2%;
  display: inline-block;
  border: none;
  outline: none;
  padding: 5px 5px;
  width: 100%;
  
  color: rgb(155, 75, 229) ;
}

::placeholder{
  color: rgb(155, 75, 229) ;
  opacity: 90%;
}
label{
  color: white;
}

.Li-Container
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Li-button {
  background-color: #ffffff;
  color: rgb(155, 75, 229);
  height: 3vh;
  margin-left:3vw ;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 8vw;
  transition:background-color 0.3s ease-out;
}

.Li-button:hover {
  background-color:rgb(155, 75, 229) ;
  color: white;
}
.Li-Container {
  padding: 16px;
}

label.psw {
  margin-top: 16px;
}

.SignUp
{
  color:rgb(255, 255, 255);
}
.SignUp:hover
{
  cursor: pointer;
}
.Icons-User {
  display: none;
  background-color: white;
  color:  rgb(155, 75, 229) ; 
}

.ant-input-password-icon svg{
  fill: white
}

