.loginInput {
  border-radius: 5px;
  outline: none;
  width: 100%;
  border: 0;
  padding: 5px;
  margin-bottom: 10px;
}

::placeholder{
  color: rgb(112, 112, 112) ;
  opacity: 90%;
}
label{
  color: white;
  align-self: flex-start;
}

.Li-Container
{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Li-button {
  position: relative;
  background-color: #ffffff;
  color: black;
  margin-top: 4px;
  height: 30px;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100px;
  transition:all 0.2s ease;
}

.Li-button:hover {
  background-color: black ;
  color: white;
}

label.psw {
  margin-top: 16px;
}

.SignUp
{
  color:rgb(255, 255, 255);
}
.SignUp:hover
{
  cursor: pointer;
}


.errMsg{
  color: red;
  text-align: center;
}