
.Search{
    transform: translate(45vw,30%);
    outline: none;
    border: none;
    caret-color: rgb(155, 75, 229) ;
    color:rgb(155, 75, 229) ;
    width: 12vw;
    

}
.Search:focus , .Search:hover{
    outline: none;
    border: none;
}
.Nav-Container{
    background-color: #340658;
    height: 125%;
    margin-bottom:#340658,200% ;
  }
.Op-Container{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}