:root{
    --nav-color: rgb(101, 33, 165);
}
.Nav-Container {
    position: fixed;
    display: flex;
    left: 50%;
    bottom: 0%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: fit-content;
    height: 9vh;
    transform: translate(-50%);
    background-color: var(--nav-color);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.navButton{
    height: 100%;
    padding: 10px;
    width: auto;
    font-size: 3em;
    transition: all 200ms ease;
    color: white;
}

.navButton:hover, .active{
    background-color: white;
    color: var(--nav-color);
}